<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bem vindo ao Chatbook!
      </h4>

      <p>
        Converse com quem quiser e quando quiser.
      </p>

      <hr />

      <p>
        Você pode criar uma sala no canto esquerdo, aproveite e chame seus amigos.
      </p>
    </div>
  </div>
</div>